
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_LayoutHomePage.cshtml";
}
@model _01_KT.Entity.Entity.Tur
<div class="container-fluid">
    @using (Ajax.BeginForm("Update", "Tur", new AjaxOptions { HttpMethod = "POST" }))
    {
        <br />
        @Html.Label("Tur Adı")
        @Html.TextBoxFor(x => x.TurAdi, new { @class = "form-control" })
        <br />
        <button type="submit" class="btn btn-primary">Güncelle</button>
    }
</div>

